<mat-card class="mat-elevation-z20">

  <mat-card-title>
    <span class="mat-card-title-text">{{event.name | uppercase}}</span>
  </mat-card-title>
  <mat-card-subtitle>{{event.eventId}}</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-icon>description</mat-icon>
        Description: {{event.description}}
      </mat-list-item>
      <mat-list-item>
        <mat-icon>date_range</mat-icon>
        Event start: {{event.eventStart | localDateTime}}
      </mat-list-item>
      <mat-list-item>
        <mat-icon>date_range</mat-icon>
        Event end: {{event.eventEnd | localDateTime}}
      </mat-list-item>
      <mat-list-item>
        <mat-icon>date_range</mat-icon>
        Deadline for RSVP: {{event.deadlineRVSP | localDateTime}}
      </mat-list-item>
      <mat-list-item>
        <mat-icon>location_city</mat-icon>
        Location: {{event.location}}
      </mat-list-item>
      <mat-list-item>
        <mat-icon>people</mat-icon>
        Organizer: {{event.organizer}}
      </mat-list-item>
    </mat-list>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Sharable URL</mat-label>
        <input [readonly]="true" matInput value="{{baseUrl + event.eventId}}" #urlValue>
        <mat-icon class="copy" matSuffix (click)="copyToClipboard(urlValue)">file_copy</mat-icon>
      </mat-form-field>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-button-toggle-group>
    <mat-button-toggle>
      JA
    </mat-button-toggle>
    <mat-button-toggle>
      NEJ
    </mat-button-toggle>
    <mat-button-toggle>
      KANSKE, KANSKE, KANSKE
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-card-actions></mat-card-actions>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>