<mat-card class="mat-elevation-z20">

  <mat-card-title>
    <span class="mat-card-title-text">{{event.name | uppercase}}</span>
  </mat-card-title>
  <mat-card-subtitle>{{event.eventId}}</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-icon>description</mat-icon>
        Description: {{event.description}}
      </mat-list-item>
      <mat-list-item>
        <mat-icon>date_range</mat-icon>
        Event start: {{event.eventStart | localDateTime}}
      </mat-list-item>
      <mat-list-item>
        <mat-icon>date_range</mat-icon>
        Event end: {{event.eventEnd | localDateTime}}
      </mat-list-item>
      <mat-list-item>
        <mat-icon>date_range</mat-icon>
        Deadline for RSVP: {{event.deadlineRVSP | localDateTime}}
      </mat-list-item>
      <mat-list-item>
        <mat-icon>location_city</mat-icon>
        Location: {{event.location}}
      </mat-list-item>
      <mat-list-item>
        <mat-icon>people</mat-icon>
        Organizer: {{event.organizer}}
      </mat-list-item>
      <!--
      <mat-expansion-panel class="full-width">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>question_answer</mat-icon>
              Tillval:
            </mat-panel-title>
          <mat-panel-description>
            Expand to see options in {{event.name}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <div *ngFor="let option of event.options">
          <span style="font-size: large; color: black">{{option.title}}</span>
          <div *ngIf='option.optionType ==="oneOption"'>
            <mat-radio-group class="mat-radio-group">
              <mat-radio-button color="primary" *ngFor="let value of option.queryString.split(',')" [value]="value">
                {{value}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div *ngIf='option.optionType ==="multiOption"'>
            <mat-list *ngFor= "let value of option.queryString.split(',')" >
              <mat-list-item> 
                <mat-checkbox color="primary">{{value}}</mat-checkbox>
              </mat-list-item> 
            </mat-list>
          </div>
     
          <div *ngIf='option.optionType === "freeText"'>
            <textarea matInput color="primary" style="background-color: white;border-color: grey; border-style: solid; border-width: 1px;resize: none;"></textarea>
          </div>
  
        </div>
 
    </mat-expansion-panel>
  -->
    </mat-list>
    
	<mat-expansion-panel class="full-width">
	  <mat-expansion-panel-header>
	    <mat-panel-title>
	    <mat-icon>emoji_people</mat-icon>
	      Participants
	    </mat-panel-title>
	    <mat-panel-description>
	      Expand to see who joins {{event.name}}
	    </mat-panel-description>
	  </mat-expansion-panel-header>
	  
	  <app-participant-list [eventId]="event.eventId"></app-participant-list>
	</mat-expansion-panel>      

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Sharable URL</mat-label>
        <input [readonly]="true" matInput value="{{baseUrl + event.eventId}}" #urlValue>
        <mat-icon class="copy" matSuffix (click)="copyToClipboard(urlValue)">file_copy</mat-icon>
     </mat-form-field>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-button-toggle-group>
    <mat-button-toggle value="bold" (click)="goToPath('/events/register', event.eventId)"> 
    	 Registrera
    </mat-button-toggle>
    <mat-button-toggle value="bold" (click)="goToPath('/events/unregister', event.eventId)"> 
       Avregistrera
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-card-actions></mat-card-actions>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>