<div class="center z-index-1">
  <mat-card class="full-width">
    <mat-card-title>
      Create Event Form
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="full-width">
      <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
        <div class="full-width">
          <div class="form-row">
            <mat-form-field class="medium-width">
              <input formControlName="name" matInput placeholder="Name">
              <mat-error>
                <span *ngIf="eventForm.get('name').touched">Please enter a name.</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field class="medium-width">
              <input formControlName="description" matInput placeholder="Description">
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field class="medium-width">
              <input formControlName="location" matInput placeholder="Location">
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field class="medium-width">
              <input formControlName="organizer" matInput placeholder="Organizer">
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field style="medium-width">
               <input formControlName="maxNumberOfApplicants" matInput placeholder="Max Number Of Participants">
            </mat-form-field>
          </div>
          <div class="form-datetime-row">
            <mat-form-field class="datepick-width">
              <input formControlName="eventStart" matInput [matDatepicker]="eventStartPicker" [min]="today"
                (dateChange)="OnEventStartChange()" placeholder="Start date">
              <mat-datepicker-toggle matSuffix [for]="eventStartPicker"></mat-datepicker-toggle>
              <mat-datepicker #eventStartPicker></mat-datepicker>
              <mat-error>
                <span *ngIf="eventForm.get('eventStart').touched && !eventForm.get('eventStart').dirty">Please
                  enter a start date.</span>
                <span *ngIf="eventForm.get('eventStart').touched && eventForm.get('eventStart').dirty">Please
                  enter a valid start date.</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field style="width: 60px; margin-right: 5px">
              <mat-label>Hour</mat-label>
              <mat-select [(value)]="eventStartHour" formControlName="eventStartHour">
                <mat-option *ngFor="let hour of createList(1, 23)" [value]="hour">
                  {{hour}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field style="width: 60px">
              <mat-label>Min</mat-label>
              <mat-select  [(value)]="eventStartMinute" formControlName="eventStartMinute">
                <mat-option *ngFor="let minute of createList(5,55)" [value]="minute">
                  {{minute}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-datetime-row">
            <mat-form-field class="datepick-width">
              <input formControlName="eventEnd" matInput [matDatepicker]="eventEndPicker"
                [min]="eventForm.get('eventStart').value" placeholder="End date">
              <mat-datepicker-toggle matSuffix [for]="eventEndPicker"></mat-datepicker-toggle>
              <mat-datepicker #eventEndPicker></mat-datepicker>
              <mat-error>
                <span *ngIf="eventForm.get('eventEnd').touched && !eventForm.get('eventEnd').dirty">Please
                  enter an end date.</span>
                <span *ngIf="eventForm.get('eventEnd').touched && eventForm.get('eventEnd').dirty">Please
                  enter
                  a valid end date.</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field style="width: 60px; margin-right: 5px">
              <mat-label>Hour</mat-label>
              <mat-select [(value)]="eventEndHour" formControlName="eventEndHour">
                <mat-option *ngFor="let hour of createList(1, 23)" [value]="hour">
                  {{hour}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field style="width: 60px">
              <mat-label>Min</mat-label>
              <mat-select [(value)]="eventEndMinute" formControlName="eventEndMinute">
                <mat-option *ngFor="let minute of createList(5,55)" [value]="minute">
                  {{minute}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-datetime-row">
            <mat-form-field class="datepick-width">
              <input formControlName="deadlineRVSP" matInput [matDatepicker]="deadlineRVSPPicker" [min]="today"
                [max]="eventForm.get('eventStart').value" placeholder="Deadline RVSP">
              <mat-datepicker-toggle matSuffix [for]="deadlineRVSPPicker"></mat-datepicker-toggle>
              <mat-datepicker #deadlineRVSPPicker></mat-datepicker>
              <mat-error>
                <span *ngIf="!eventForm.get('deadlineRVSP').valid && eventForm.get('deadlineRVSP').dirty">Please
                  enter a valid deadline.</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field style="width: 60px; margin-right: 5px">
              <mat-label>Hour</mat-label>
              <mat-select formControlName="deadlineRVSPHour">
                <mat-option *ngFor="let hour of hours" [value]="hour">
                  {{hour}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field style="width: 60px">
              <mat-label>Min</mat-label>
              <mat-select formControlName="deadlineRVSPMinute">
                <mat-option *ngFor="let minute of minutes" [value]="minute">
                  {{minute}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>
      <div>
        <json-schema-form [schema]="optionsSchema" (onChanges)="onOptionsChange($event)" [widgets]="widget">
        </json-schema-form>
      </div>
      <p>
        <button mat-raised-button [disabled]="!isValid()" color="accent" on-click="onSubmit()">Submit</button>
      </p>
    </mat-card-content>
  </mat-card>
</div>

