
<div >
<mat-card class="full-width">
    <mat-card-title>
      Create Event Form
    </mat-card-title>
  <mat-card-content class="full-width">
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <div class="full-width">
        <div class="row">

          <mat-form-field >
            <input formControlName="name" matInput placeholder="Name">
            <mat-error>
              <span *ngIf="eventForm.get('name').touched">Please enter a name.</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field >
            <input formControlName="description" matInput placeholder="Description">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field >
            <input formControlName="location" matInput placeholder="Location">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field >
            <input formControlName="organizer" matInput placeholder="Organizer">
          </mat-form-field>
        </div>
        <div class="dates-container" >
            <div class="col" > Start date
              <input formControlName="eventStart" matInput type="datetime-local"
                     [min]="today" (change)="OnEventStartChange()" placeholder="Start date" >
              <mat-error>
                <span *ngIf="eventForm.get('eventStart').touched && !eventForm.get('eventStart').dirty">Please enter a start date.</span>
                <span
                  *ngIf="eventForm.get('eventStart').touched && eventForm.get('eventStart').dirty">Please
                                    enter a valid start date.</span>
              </mat-error>
            </div>
            <div class="col"> End date
              <input formControlName="eventEnd" matInput type="datetime-local"
                     [min]="eventForm.get('eventStart').value" placeholder="End date">
              <mat-error>
                <span *ngIf="eventForm.get('eventEnd').touched && !eventForm.get('eventEnd').dirty">Please enter an end date.</span>
                <span *ngIf="eventForm.get('eventEnd').touched && eventForm.get('eventEnd').dirty"
                >Please enter a valid end date.</span>
              </mat-error>
            </div>
            <div  class="col"> Deadline RVSP
              <input formControlName="deadlineRVSP" matInput type="datetime-local"
                     [min]="today" [max]="eventForm.get('eventStart').value" placeholder="Deadline RVSP">
              <mat-error>
                                <span
                                  *ngIf="!eventForm.get('deadlineRVSP').valid && eventForm.get('deadlineRVSP').dirty">Please
                                    enter a valid deadline.</span>
              </mat-error>
            </div>
        </div>
      </div>

    </form>
    <div >
      <json-schema-form [schema]="optionsSchema" (onChanges)="onOptionsChange($event)" [widgets]="widget">
      </json-schema-form>
    </div>
    <p>
    <button mat-raised-button [disabled]="!isValid()" color="accent" on-click="onSubmit()">Submit</button>
    </p>
  </mat-card-content>
  </mat-card>
</div>
