.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width {
    width: 100%;
}

.form-table-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}

.datepick-width {
    width: 90%;
}

.datepick-fill-empty-space{
    flex: 1 1 auto;
}

mat-card {
    min-width: 150px;
    max-width: 500px;
    margin: 2em auto;
    text-align: left;
  margin-left: 2%;
}

mat-toolbar-row {
    justify-content: space-between;
}

.done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
}

.content-center {
    text-align: -webkit-center;
}
.dates-container {
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
/*
@media (min-width: 768px) {
  .dates-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .dates-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .dates-container {
    width: 1170px;
  }
}*/

.dates-container .col {
  height: 100px;
}

.dates-container .col p {
  padding: .25rem .75rem;
}
/* 2 columns (600px) */
/*
@media only screen and (min-width:600px) {
  .dates-container .col {
    float: left;
    width: 50%;
  }
}
*/

/* 3 columns (768px) */

@media only screen and (min-width:500px) {
  .dates-container .col {
    width: 33.333%;
  }
}


/* 4 columns (992px) */
/*
@media only screen and (min-width:992px) {
  .container .col {
    width: 25%;
  }
}
*/
