div.centered {
    height: 1024px;
    width: 768px;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
  }

.mat-card {
    background-color: #FCDFD8;
    color: #333333;
    font-family: Arial;
    min-width: 150px;
    max-width: 500px;    
}

.mat-card-header {
    background-color: #FAC0B1;
  }

.mat-button-toggle-group {
    margin-top: 2em;
}