<mat-card>
    <mat-card-title>{{event.name}}</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width option">
                <input formControlName="email" matInput placeholder="Email">
                <mat-error>
                    <span *ngIf="regForm.get('email').touched">Please enter an email
                        address.</span> </mat-error>
            </mat-form-field>
            <div *ngFor="let option of event.options">
                <div class="option" [formGroupName]="option.optionId">
                    <span *ngIf="option.required && option.optionType !== 'multiOption'"
                        style="font-size: large; color: red">* </span>
                    <span style="font-size: large; color: black">{{option.title}}</span>
                    <div formGroupName="values">
                        <div [ngSwitch]="option.optionType">
                            <div *ngSwitchCase="'oneOption'">
                                <mat-radio-group class="mat-radio-group" formControlName="value">
                                    <mat-radio-button *ngFor="let value of option.queryString.split(',')"
                                        [value]="value" color="primary" style="margin: 10px 5px;">
                                        {{value}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>

                            <div *ngSwitchCase="'multiOption'">
                                <mat-list *ngFor="let value of option.queryString.split(',')">
                                    <mat-list-item style="margin: -15px -5px -5px;">
                                        <mat-checkbox [formControlName]="value" color="primary"  >
                                            {{value}}</mat-checkbox>
                                    </mat-list-item>
                                </mat-list>
                            </div>

                            <div class="full-width" *ngSwitchCase="'freeText'">
                                <textarea matInput formControlName="value" color="primary"
                                    style="background-color: white; border-color: grey; border-style: solid; border-width: 1px; resize: none;"></textarea>

                            </div>
                            <div *ngSwitchCase="'singleLine'">
                                <mat-form-field class="full-width">
                                    <input matInput formControlName="value" type="text" placeholder="Enter text here">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <mat-error>
                <span *ngIf="!regForm.valid" style="font-size: smaller;">Fill all required fields.</span>
            </mat-error>
            <button mat-raised-button [disabled]="!regForm.valid" color="accent">Register</button>

        </form>
    </mat-card-content>
</mat-card>