<mat-card (click)="goToPath('/events', event.eventId)">
    <mat-card-title>
        <img src="https://images.unsplash.com/photo-1581404168381-ffa923a8c250?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1165&q=80" class="fake-img"/>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div class="title-container">
            <span class="title">{{event.name}}</span>
        </div>
        <div class="date-container">
            <span class="date">
                {{event.eventStart | date:'EEE d MMM'}}
            </span>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <div class="status-container">
            <mat-icon [ngStyle]="{'margin-left' : '4px', 'margin-top': '8px', 'font-size': '12px'}">access_alarm</mat-icon>
            <!-- more than 24 hours left-->
            <div class="status green" *ngIf="now() < event.deadlineRVSP && event.deadlineRVSP - now() >= 86400000">
                {{(event.deadlineRVSP - now()) / 86400000 | number:'1.0-0'}} days left
            </div>
            <!-- less than 24 hours left-->
            <div class="status green" *ngIf="now() < event.deadlineRVSP && event.deadlineRVSP - now() >= 3600000 && event.deadlineRVSP - now() < 86400000">
                {{(event.deadlineRVSP - now()) / 3600000 | number:'1.0-0'}} hours left
            </div>
            <!-- less than an hour left-->
            <div class="status green" *ngIf="now() < event.deadlineRVSP && event.deadlineRVSP - now() < 3600000">
                {{(event.deadlineRVSP - now()) / 60000 | number:'1.0-0'}} minutes left
            </div>
            <!-- registration passed-->
            <div class="status " *ngIf="now() > event.deadlineRVSP">
                Registration closed
            </div>
            <mat-icon [ngStyle]="{'margin-right':'4px', 'float': 'right', 'font-size': '32px'}">keyboard_arrow_right</mat-icon>
        </div>
    </mat-card-actions>
</mat-card>