@import '~@angular/material/theming';

// always include only once per project
@include mat-core();


//Knowit MD-Palettes
$md-knowit-pear: (
    50 : #f6fbf7,
    100 : #e9f5eb,
    200 : #dbefde,
    300 : #cde8d1,
    400 : #c2e3c7,
    500 : #b7debd,
    600 : #b0dab7,
    700 : #a7d5ae,
    800 : #9fd1a6,
    900 : #90c898,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fafffb,
    A700 : #e0ffe5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-knowit-flamingo: (
    50 : #fef7f6,
    100 : #feece8,
    200 : #fde0d8,
    300 : #fcd3c8,
    400 : #fbc9bd,
    500 : #fac0b1,
    600 : #f9baaa,
    700 : #f9b2a1,
    800 : #f8aa98,
    900 : #f69c88,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-knowit-sand: (
    50 : #fcfbfb,
    100 : #f7f6f4,
    200 : #f2f0ed,
    300 : #eceae6,
    400 : #e8e6e0,
    500 : #e4e1db,
    600 : #e1ddd7,
    700 : #ddd9d2,
    800 : #d9d5cd,
    900 : #d1cdc4,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-knowit-forest: (
    50 : #e9eceb,
    100 : #c9d1cc,
    200 : #a5b2aa,
    300 : #819388,
    400 : #667b6f,
    500 : #4b6455,
    600 : #445c4e,
    700 : #3b5244,
    800 : #33483b,
    900 : #23362a,
    A100 : #80ffad,
    A200 : #4dff8c,
    A400 : #1aff6b,
    A700 : #01ff5b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-knowit-mint: (
    50 : #fbfdfb,
    100 : #f4faf5,
    200 : #edf7ef,
    300 : #e6f3e8,
    400 : #e0f1e3,
    500 : #dbeede,
    600 : #d7ecda,
    700 : #d2e9d5,
    800 : #cde7d1,
    900 : #c4e2c8,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-knowit-melon: (
    50 : #fffbfa,
    100 : #fef5f3,
    200 : #feefec,
    300 : #fde9e4,
    400 : #fce4de,
    500 : #fcdfd8,
    600 : #fcdbd4,
    700 : #fbd7ce,
    800 : #fbd2c8,
    900 : #facabf,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-knowit-pebble: (
    50 : #fdfdfd,
    100 : #fbfbfa,
    200 : #f8f8f6,
    300 : #f5f5f2,
    400 : #f3f2f0,
    500 : #f1f0ed,
    600 : #efeeeb,
    700 : #edece8,
    800 : #ebe9e5,
    900 : #e7e5e0,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-knowit-clay: (
    50 : #f4f6f5,
    100 : #e4e8e6,
    200 : #d2d8d5,
    300 : #c0c8c4,
    400 : #b3bdb7,
    500 : #a5b1aa,
    600 : #9daaa3,
    700 : #93a199,
    800 : #8a9890,
    900 : #79887f,
    A100 : #ffffff,
    A200 : #defdeb,
    A400 : #a8ffce,
    A700 : #8fffc0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//Knowit MD-theme
$knowit-primary: mat-palette($md-knowit-pear);
$knowit-accent:  mat-palette($md-knowit-flamingo, 500, 900, A100);
$knowit-warn:    mat-palette($md-knowit-forest);

$knowit-theme: mat-light-theme($knowit-primary, $knowit-accent, $knowit-warn);

@include angular-material-theme($knowit-theme);