/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

// always include only once per project
@include mat-core();

body {
  background-color: #F1F0ED;
  font-family: Arial;
  color: #333333;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial;
}

div.centered {
  height: 1024px;
  width: 768px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.mat-card {
  background-color: #FCDFD8;
  color: #333333;
  font-family: Arial;
}

.mat-card-content {
  // TODO Make the scrolling responsive to screen size
  overflow-y: auto;
  height: 500px;
  overflow-x: hidden;
}

.mat-card-header {
  background-color: #FAC0B1;
}

.full-width {
  width: 99%;
}


