<mat-toolbar>
    <span class="logo" (click)="redirect('events')">Bookit Events</span>
    <!-- This fills the remaining space of the current row -->
    <span class="mat-toolbar-fill-remaining-space"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="redirect('events/new')">
            <mat-icon>post_add</mat-icon>
            <span>Create new event</span>
        </button>
        <button mat-menu-item (click) = "redirect('events')">
            <mat-icon>date_range</mat-icon>
            <span>View all events</span>
        </button>
        <button mat-menu-item disabled="true" (click)="redirect('reports')">
            <mat-icon>assessment</mat-icon>
            <span>Reports</span>
        </button>
    </mat-menu>

</mat-toolbar>